*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Nav*/
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}

button.btn.btn-outline-light.btn-rounded-2 {
  margin-top: 30px;
  margin-right: 20px;
  justify-content: space-around;
  margin-left: 30px;
  display: flex;
}

div#navbarSupportedContent {
  /* display: flex; */
  position: inherit;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: "Alfa Slab One", cursive;
  font-size: 25px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.red {
  color: rgb(188, 60, 60);
}

a.btn.btn-primary.ingreso {
  width: 150px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  margin-top: 9px;
}

.navbar-header {
  margin-top: 9px;
}

div#bs-promo-navbar-collapse-1 {
  background-color: black;
}

a.navbar-brand {
  display: flex;
  margin: 10px;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
  list-style: none;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse {
  background-color: black;
}

ul.nav.navbar-nav.navbar-right {
  margin: 10px;
}
img#logo {
  width: 35%;
  border-radius: 75px;
}

input[type=checkbox],
input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
  margin: 10px;
}

input#button-servicio {
  background-color: white;
  color: black;
}

div#contenedorProductos {
  display: flex;
  text-align: -webkit-center;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

img {
  display: flex;
  flex-wrap: wrap;
  height: 45%;
}
p.precioProducto {
  font-size: 25px;
  color: red;
  font-weight: 500;
}
p.precioCarrito {
  font-size: 22px;
  color: blue;
}
div#contenedorCarrito {
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
}

div#contenedorCarrito img{
  height: 20%;
}

.buscador {
  display: flex;
  align-content: flex-start;
  justify-content: flex-end;
  padding: 20px;
  margin-bottom: 5%;
}

@media screen and (min-width: 992px) {
  .nav-item {
    line-height: 80px;
  }
}
div#contenedorCarrito img {
  height: 24%;
  display: flex;
  writing-mode: vertical-rl;
  flex-direction: row;
  align-items: stretch;
}

p.texto-descripcion {
  width: 50%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#seleccionMarca{
  padding: 10px;
}