.shop-contenido {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    text-align: center;
    
}

.shop-contenido img{
    height: 80%;
    width: 80%;
}

img {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}
.card{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.comprar{
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
}
p.precio {
    font-size: 25px;
    font-weight: bold;
    color: blue;
    font-family: serif;
}
.modal-content img{
    height: 150px;
    width: 140px; 
    margin: auto;
      
}
.modal-header {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.modal-container {
    margin-top: 30px;
    background-color: rgb(218, 218, 223);
    justify-content: center;
    text-align: center;
}
h3 {
    color: white;
    cursor: pointer;
}

.cantidad-carrito{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 4px;
    position: absolute;
    display: none;
}
.sumo{
    cursor: pointer;
}
.resto{
    cursor: pointer;
}
.buscador {
    display: flex;
    align-content: stretch;
    padding: 20px;
    margin-bottom: 5%;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
}
h4.modal-header-button {
    cursor: pointer;
    background-color: red;
    color: white;
}
h3#verCarrito {
    margin-left: 30px;
}
button.btn.btn-outline-light.btn-rounded {
    margin-left: 20%;
}
img#logo {
    width: 25%;
    margin-left: 20px;
}